.react-player {
  width: 100%;
  height: 100vh;
  margin-top: 4px;
}

video {
  height: auto !important;
}


#scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px
}